{% extends '../base.html' %}
{% block content %}
  <h2>Productos</h2>
  <a href="{% url 'example:productos-add' %}">Añadir</a>
  <ul>
    {% for producto in object_list %}
      <li>
        <a href="{% url 'example:productos-detail' producto.pk %}">
          {{ producto.nombre }}
        </a>
        <a href="{% url 'example:productos-update' producto.pk %}">
          Editar
        </a>
        <a href="{% url 'example:productos-delete' producto.pk %}">
          Eliminar
        </a>
      </li>
    {% empty %}
      <p>No Productos</p>
    {% endfor %}
  </ul>
{% endblock %}