<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ object_list.Meta.model.verbose_name }}</title>
</head>
<body>
  <ul>
    <li><a href="{% url 'example:categorias-list' %}">Categorías</a></li>
    <li><a href="{% url 'example:subcategorias-list' %}">SubCategorías</a></li>
    <li><a href="{% url 'example:productos-list' %}">Productos</a></li>
  </ul>
  {% block content %}
    
  {% endblock %}
</body>
</html>